Lab2/JacobKCST211Lab2LinkedListShell
Lab2/llist
*/.vscode/
*/*.zip
*/llist
/.vscode/
Lab1/array
Lab1/run.txt
Lab3/stack
Lab3/JacobKCST211Lab3Stack
Quiz4/queue
Lab4/JacobKCST211Lab4Queue
Lab4/queue
MidtermChallenge/queue
Quiz5/makefile
Lab6/bst
Lab6/JacobKCST211Lab6BST
Lab5/JacobKCST211Lab6BST
.gitignore
Lab5/bst
Class6/class6
quiz6/quiz6
Lab6/hash
Lab6/JacobKCST211Lab6Hash
Midterm/Q1/Q1
Midterm/Q2/q2
Midterm/Q1/q1
Midterm/Q1/CST211MidtermQ1Errors
Midterm/Q2/CST211MidtermBST
Lab7/sorts
